.IconFilter {
  z-index: 5;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--shadow);
  background-color: var(--white-500);
  position: fixed;
  top: 1.5rem;
  margin: 0 2rem;
  width: calc(100% - 4rem);
  border-radius: 1rem;

  &_logo {
    text-decoration: none;
    flex: 0 0 6.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    color: var(--white-500);
    border-radius: 1rem 0 0 1rem;

    :global(i.icon) {
      font-size: 400%;
      position: relative;
      left: .5rem;
    }
  }

  &_content {
    flex: 1;
    height: 4rem;
    display: flex;
    flex-direction: row;
  }

  &_first {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  &_second {
    flex: 2;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 1200px) {
  .IconFilter {
    height: 8rem;
    margin: 0 .5rem;
    top: .5rem;
    width: calc(100% - 1rem);

    &_bigScreen {
      display: none;
    }

    &_second,
    &_first {
      min-width: 100%;
      height: 4rem;
    }

    &_content {
      height: 8rem;
      flex-wrap: wrap;
    }
  }
}
