.App {
  text-align: center;
  overflow-y: hidden;
  height: 100%;
  display: block;
  background: radial-gradient(circle at 15% 150%, var(--theme-500) 0%, var(--theme-500-4) 45%,  rgba(200, 200, 200,.3) 80%);
}
