.Navbar {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  height: 3.5rem;
  flex-direction: row;
  align-items: center;
  background-color: var(--theme);
  color: var(--gray);
  font-weight: bold;

  a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--white);

    &.Navbar-logo {
      height: 5em;
      width: 5em;
      fill: var(--white);

      svg {
        margin: 0;
      }
    }

    svg {
      margin-right: .5rem;
    }
  }
}
