.Icons {

  padding-top: 5rem;
  
  &-list {
    padding: 1rem;
    margin: .1rem 5rem 5rem 5rem;
    width: calc(100% - 10rem);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    box-shadow: var(--shadow);
    border-radius: 0 0 1rem 1rem;
    position: relative;
    background-color: var(--glass);
  }
}
