:global(html), :global(body) {
  padding: 0;
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  font-family: Quicksand, sans-serif;
  color: var(--gray-800);
}

:global(input) {
  font-family: Quicksand, sans-serif;
}

:global(#root) {
  height: 100%;
}

:global(svg:not(:root):not(.svg-inline--fa)) {
  width: 5rem;
  height: 5rem;
  display: block;
  color: white;
  fill: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --theme-transparent: rgba(235, 40, 52, .4);
  --theme: #EB2834;
  --gray-800: #333333;
  --gray-100: #EEEEEE;
  --white: #FFFFFF;
  --glass: rgba(255, 255, 255, .3);
  --shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}
