.Icon {
  position: relative;
  color: var(--gray-800);
  text-decoration: none;
  background-color: var(--white-500);
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;

  &_circle {
    position: absolute;
    border-radius: 50%;
    width: 200%;
    height: 200%;
    top: 75%;
    left: -50%;
    display: block;
    transition: top .5s .1s;
    z-index: -1;
  }

  &:hover {
    :global(i.icon) {
      color: var(--white-500) !important;
    }
    
    & .Icon_circle {
      top: -50%;
    }
  }
  
  &_container {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 1rem;

    :global(i.icon) {
      font-size: 250%;
      width: 2.5rem;
      height: 2.5rem;
      transition: color .5s .1s;

      &:before {
        height: 2rem;
      }
    }

    :global(.Icon_label) {
      color: var(--white-500);
      position: absolute;
      bottom: .2rem;
      font-size: 78%;
      width: 100%;
      text-align: center;
    }
  }
}
